/* src/components/Timeline.css */

.timeline {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 50px auto;
  ;
}

.timeline-event {
  display: flex;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  
}

.timeline-event:hover {
  transform: scale(1.02);
}

.timeline-date {
  width: 100px;
  font-weight: bold;
  padding: 16px;
  background: linear-gradient(90.21deg, #FF4066 -5.91%, #FFF16A 111.58%);
  /*background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);*/
  color: #ffffff;
  text-align: center;
}

.timeline-content {
  flex: 1;
  padding: 16px;
  font-size: 10 px;
}

.timeline-content h3 {
  margin-top: 0;
  color: #333333;
  font-size: 15px;
}

.timeline-content p {
  color: #666666;
  text-align: justify;
  margin: 0;
  font-size: 13px;
  
}

/* Additional styling for responsiveness */
@media (max-width: 600px) {
  .timeline-event {
    flex-direction: column;
  }
}
